<%= form_with(model: marker_type, local: true) do |form| %>
  <% if marker_type.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(marker_type.errors.count, "error") %> prohibited this marker_type from being saved:</h2>

      <ul>
      <% marker_type.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :color %>
    <%= form.text_field :color %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
