<p id="notice"><%= notice %></p>

<h1>Marker Types</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Color</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @marker_types.each do |marker_type| %>
      <tr>
        <td><%= marker_type.name %></td>
        <td><%= marker_type.color %></td>
        <td><%= link_to 'Show', marker_type %></td>
        <td><%= link_to 'Edit', edit_marker_type_path(marker_type) %></td>
        <td><%= link_to 'Destroy', marker_type, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Marker Type', new_marker_type_path %>
