<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @marker_type.name %>
</p>

<p>
  <strong>Color:</strong>
  <%= @marker_type.color %>
</p>

<%= link_to 'Edit', edit_marker_type_path(@marker_type) %> |
<%= link_to 'Back', marker_types_path %>
