<h2>Sign up</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>

  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
  </div>

  <div class="field">
    <%= f.label :nickname %><br />
    <%= f.text_field :nickname %>
  </div>

  <div class="field">
    <%= f.label :game_id %><br />
    <%= f.select :game_id, Game.all.map{ |c| [c.name, c.id]}, {selected: f.object.game_id}, {class: 'form-control'} %>
  </div>

  <div class="field">
    <%= f.label :user_role_id %><br />
    <%= f.select :user_role_id, UserRole.all.map{ |c| [c.name, c.id]}, {selected: f.object.user_role_id}, {class: 'form-control'} %>
  </div>

  <div class="field">
    <%= f.label :password %>
    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> characters minimum)</em>
    <% end %><br />
    <%= f.password_field :password, autocomplete: "new-password" %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
  </div>

  <div class="form-group media_prev">
    <%= f.label :avatar %>
    <%= f.hidden_field :avatar_url, class: "form-control img_db_src" %>
    <div class="input-group">
      <%#= form.file_field :images, onchange: "readURL(this)", multiple: true, class: "filestyle" %>
      <%= f.file_field :avatar, onchange: "readURL(this)", multiple: false, class: "filestyle" %>
      <!-- <input type="file" class="filestyle" data-buttonText="Add Avatar"> -->
    </div>
    <%#= image_tag(product.images[0].url) if product.images? %>
    <img style="display: none;" class="img_prev" id="img_prev" src="#" alt="">
  </div>

  <div class="actions">
    <%= f.submit "Sign up" %>
  </div>
<% end %>

<%= render "devise/shared/links" %>

<script>
  var media_prev = $('.media_prev');
  media_prev.each(function(index) {
    $(this).children('.img_prev').attr('style', 'display: block; max-height: 200px;');
    $(this).children('.img_prev').attr('src', $(this).children('.img_db_src').val());
  });
  function readURL(input) {
    if (input.files && input.files[0]) {
      var reader = new FileReader();
      reader.onload = function (e) {
        $(input).parent('.input-group').parent('.media_prev').children('.img_prev').attr('src', e.target.result)
        $(input).parent('.input-group').parent('.media_prev').children('.img_prev').attr('style', 'display: block; max-height: 200px;')
        // alert(JSON.stringify($(input).parent('.media_prev')));
      };
      reader.readAsDataURL(input.files[0]);
    }
  }
</script>
