<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @user_role.name %>
</p>

<p>
  <strong>Level:</strong>
  <%= @user_role.level %>
</p>

<%= link_to 'Edit', edit_user_role_path(@user_role) %> |
<%= link_to 'Back', user_roles_path %>
