<div class="background_01 min-height-100 pt-25-vh">
  <div class="squares square2 d-none d-md-block"></div>
  <div class="squares square3 d-none d-md-block"></div>
  <div class="squares square7 d-none d-md-block"></div>
  <%= image_tag('dots.png', class:"dots") %>

  <div class="container">
    <div class="content-center brand">
      <h1 class="h1-seo"><%= image_tag('logo-lightblue.png', class: "img-fluid") %></h1>
      <h3><%#= t('.subtitle_text') %></h3>

      <div class="row">
        <div class="col-md-12">
          <div class="card card-plain mt-4">
            <div class="card-header">
              <h1 class="profile-title text-success">
                <div class="icon icon-success mb-3">
                  <i class="tim-icons icon-time-alarm"></i>
                </div>
                <!-- DO STARTU PLATFORMY POZOSTAŁO -->
                <%= t('.to_the_platform_launch_remains') %>
              </h1>
            </div>
            <div class="card-body">
              <!-- <h4 class="info-title">Counter</h4> -->
              <div id="countdown">
                <div class="counter clear" data-date="2019-07-18 23:00:00"></div>
              </div>
            </div>
          </div>
        </div>

        <div class="col-md-12 d-none d-md-block">
          <div class="card card-plain mt-4">
            <div class="card-header">
            </div>
            <div class="card-body">
            </div>
          </div>
        </div>

        <div class="col-md-12">
          <div class="card card-plain mt-4">
            <div class="card-header">
              <h1 class="profile-title text-success">
                <div class="icon icon-success mb-3">
                  <i class="tim-icons icon-email-85"></i>
                </div>
                  <!-- COMING SOON -->
                  <!-- ZAPISZ SIĘ, ABY BYĆ NA BIEŻĄCO -->
                <p class="text-success text-uppercase"><%= t('.coming_soon') %></p>
                <%= t('.sign_up_to_be_notified') %>
              </h1>
            </div>
            <div class="card-body">
              <%= form_with(scope: :user, url: subscribe_path, local: true) do |form| %>
                <% if @user.errors.any? %>
                  <div id="error_explanation">
                    <h2><%= pluralize(@user.errors.count, "error") %> prohibited this @user from being saved:</h2>

                    <ul>
                    <% @user.errors.full_messages.each do |message| %>
                      <li><%= message %></li>
                    <% end %>
                    </ul>
                  </div>
                <% end %>

                <div class="row">
                  <div class="col-md-6">
                    <%= form.label :nickname %>
                    <div class="input-group">
                      <div class="input-group-prepend">
                        <div class="input-group-text">
                          <i class="tim-icons icon-single-02"></i>
                        </div>
                      </div>
                      <%= form.text_field :nickname, class: "form-control", placeholder: "Your NickName" %>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <%= form.label :email %>
                    <div class="input-group">
                      <div class="input-group-prepend">
                        <div class="input-group-text">
                          <i class="tim-icons icon-email-85"></i>
                        </div>
                      </div>
                      <%= form.email_field :email, class: "form-control", placeholder: "Your Email" %>
                    </div>
                  </div>
                </div>

                <%= form.submit "Subscribe", class: "btn btn-primary btn-round float-right", rel:"tooltip", data:{original_title:"Can't wait for your signing up", placement:"right"} %>

              <% end %>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
