<div class="min-height-100 pt-30-vh">
  <%#= image_tag('dots.png', class:"dots") %>
  <%#= image_tag('path4.png', class:"path") %>

  <%#= image_tag('blob.png', class:"path") %>
  <%#= image_tag('path2.png', class:"path2") %>
  <%#= image_tag('triunghiuri.png', class:"shapes triangle") %>
  <%#= image_tag('patrat.png', class:"shapes squares-center") %>
  <%#= image_tag('cercuri.png', class:"shapes circle") %>

  <div class="container">
    <div class="content-center brand">
      <h1 class="h1-seo"><%= t('.contact') %></h1>
      <div class="card card-plain">
        <div class="card-header">
          <h1 class="profile-title">
            <!-- Zainteresowany współpracą? Napisz do nas -->
            <%= t('.interested_in_cooperation')+'?' %>
            <%= t('.write_us') %>
          </h1>
        </div>
        <div class="card-body">
          <%= form_with(scope: :contact_form, url: send_message_path, local: true) do |form| %>
            <div class="row">
              <div class="col-md-6">
                <div class="form-group">
                  <%= form.label :name %>
                  <%= form.text_field :name, class: "form-control", placeholder: "Your Name", required: true %>
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <%= form.label :email %>
                  <%= form.email_field :email, class: "form-control", placeholder: "Your Email", required: true %>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12">
                <div class="form-group">
                  <%= form.label :message %>
                  <%= form.text_area :message, class: "form-control", placeholder: "Your Message", rows: 4, required: true %>
                </div>
                <div class="hidden">
                  <%= form.label :nickname %>
                  <%= form.text_field :nickname, class: "form-control", placeholder: "Your NickName" %>
                </div>
              </div>
            </div>

            <%= form.submit "Send message", class: "btn btn-primary btn-round float-right", rel:"tooltip", data:{original_title:"Can't wait for your message", placement:"right"} %>
          <% end %>

        </div>
      </div>

    </div>
  </div>
</div>
