<div class="min-height-100 pt-30-vh">
  <div class="container">
    <div class="content-center brand">
      <h1 class="h1-seo"><%= t('.dashboard') %></h1>
      <div class="card card-plain">
        <div class="card-header">
          <h1 class="profile-title">
            <%= t('.games_teams_players_courses') %>
          </h1>
        </div>
        <div class="card-body">
          <% @games.each_with_index do |game, index| %>
            <p>
              <%= index %>
              <%= game.name %>
              Teams:
              <% game.teams.limit(4).each do |team| %>
                <%= team %>
              <% end %>
              Players:
              <% game.users.includes(:user_role).where(user_roles: {level: 3}).limit(4).each do |player| %>
                <%= player %>
              <% end %>
              Coaches:
              <% game.users.includes(:user_role).where(user_roles: {level: 2}).limit(4).each do |coach| %>
                <%= coach %>
              <% end %>
              Courses:
              <% game.courses.limit(4).each do |course| %>
                <%= course %>
              <% end %>
            </p>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
