<%= form_with(model: game_video, local: true) do |form| %>
  <% if game_video.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(game_video.errors.count, "error") %> prohibited this game_video from being saved:</h2>

      <ul>
      <% game_video.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :game %>
    <%= form.text_field :game %>
  </div>

  <div class="form-group media_prev">
    <%= f.label :avatar %>
    <%= f.hidden_field :video_url, class: "form-control img_db_src" %>
    <div class="input-group">
      <%= f.file_field :video, onchange: "readURL(this)", multiple: false, class: "filestyle" %>
      <!-- <input type="file" class="filestyle" data-buttonText="Add Avatar"> -->
    </div>
    <%#= image_tag(product.images[0].url) if product.images? %>
    <img style="display: none;" class="img_prev" id="img_prev" src="#" alt="">
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>


<script>
  var media_prev = $('.media_prev');
  media_prev.each(function(index) {
    $(this).children('.img_prev').attr('style', 'display: block; max-height: 200px;');
    $(this).children('.img_prev').attr('src', $(this).children('.img_db_src').val());
  });
  function readURL(input) {
    if (input.files && input.files[0]) {
      var reader = new FileReader();
      reader.onload = function (e) {
        $(input).parent('.input-group').parent('.media_prev').children('.img_prev').attr('src', e.target.result)
        $(input).parent('.input-group').parent('.media_prev').children('.img_prev').attr('style', 'display: block; max-height: 200px;')
        // alert(JSON.stringify($(input).parent('.media_prev')));
      };
      reader.readAsDataURL(input.files[0]);
    }
  }
</script>
