<p id="notice"><%= notice %></p>

<h1>Game Videos</h1>

<table>
  <thead>
    <tr>
      <th>Game</th>
      <th>Video</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @game_videos.each do |game_video| %>
      <tr>
        <td><%= game_video.game %></td>
        <td><%= game_video.video %></td>
        <td><%= link_to 'Show', game_video %></td>
        <td><%= link_to 'Edit', edit_game_video_path(game_video) %></td>
        <td><%= link_to 'Destroy', game_video, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Game Video', new_game_video_path %>
