<p id="notice"><%= notice %></p>

<p>
  <strong>Game:</strong>
  <%= @game_video.game %>
</p>

<p>
  <strong>Video:</strong>
  <%= @game_video.video %>
</p>

<%= link_to 'Edit', edit_game_video_path(@game_video) %> |
<%= link_to 'Back', game_videos_path %>
