<%= form_with(model: game_analysis, local: true) do |form| %>
  <% if game_analysis.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(game_analysis.errors.count, "error") %> prohibited this game_analysis from being saved:</h2>

      <ul>
      <% game_analysis.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :game_video %>
    <%= form.text_field :game_video %>
  </div>

  <div class="field">
    <%= form.label :link %>
    <%= form.text_field :link %>
  </div>

  <div class="field">
    <%= form.label :summary %>
    <%= form.text_field :summary %>
  </div>

  <div class="field">
    <%= form.label :recommendation %>
    <%= form.text_field :recommendation %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
