<p id="notice"><%= notice %></p>

<h1>Game Analyses</h1>

<table>
  <thead>
    <tr>
      <th>Game video</th>
      <th>Link</th>
      <th>Summary</th>
      <th>Recommendation</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @game_analyses.each do |game_analysis| %>
      <tr>
        <td><%= game_analysis.game_video %></td>
        <td><%= game_analysis.link %></td>
        <td><%= game_analysis.summary %></td>
        <td><%= game_analysis.recommendation %></td>
        <td><%= link_to 'Show', game_analysis %></td>
        <td><%= link_to 'Edit', edit_game_analysis_path(game_analysis) %></td>
        <td><%= link_to 'Destroy', game_analysis, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Game Analysis', new_game_analysis_path %>
