<p id="notice"><%= notice %></p>

<p>
  <strong>Game video:</strong>
  <%= @game_analysis.game_video %>
</p>

<p>
  <strong>Link:</strong>
  <%= @game_analysis.link %>
</p>

<p>
  <strong>Summary:</strong>
  <%= @game_analysis.summary %>
</p>

<p>
  <strong>Recommendation:</strong>
  <%= @game_analysis.recommendation %>
</p>

<%= link_to 'Edit', edit_game_analysis_path(@game_analysis) %> |
<%= link_to 'Back', game_analyses_path %>
