<div class="min-height-100 pt-30-vh">
  <%#= image_tag('dots.png', class:"dots") %>
  <%#= image_tag('path4.png', class:"path") %>

  <%#= image_tag('blob.png', class:"path") %>
  <%#= image_tag('path2.png', class:"path2") %>
  <%#= image_tag('triunghiuri.png', class:"shapes triangle") %>
  <%#= image_tag('patrat.png', class:"shapes squares-center") %>
  <%#= image_tag('cercuri.png', class:"shapes circle") %>

  <div class="container">
    <div class="content-center brand">
      <h1 class="h1-seo"><%= t('.log_in') %></h1>
      <div class="card card-plain">
        <div class="card-header">
          <h1 class="profile-title">
            <!-- Zainteresowany współpracą? Napisz do nas -->
            <%#= t('.interested_in_cooperation')+'?' %>
            <%#= t('.write_us') %>
          </h1>
        </div>
        <div class="card-body">
          <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
            <div class="row">
              <div class="col-md-12">
                <div class="form-group">
                  <%= f.label :email %>
                  <%= f.email_field :email, class: "form-control", placeholder: "Your Email", autofocus: true, autocomplete: "email", required: true %>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12">
                <div class="form-group">
                  <%= f.label :password %>
                  <%= f.password_field :password, class: "form-control", placeholder: "Your Password", autocomplete: "current-password", rows: 4, required: true %>
                </div>
              </div>
            </div>

            <% if devise_mapping.rememberable? -%>
              <div class="row">
                <div class="col-md-12">
                  <div class="form-group">
                    <%= f.check_box :remember_me %>
                    <%= f.label :remember_me %>
                  </div>
                </div>
              </div>
            <% end -%>

            <%= f.submit "Log in", class: "btn btn-primary btn-round float-right", rel:"tooltip", data:{original_title:"Can't wait for your message", placement:"right"} %>
          <% end %>

        </div>
        <div class="card-footer">
          <%= render "devise/shared/links" %>
        </div>
      </div>

    </div>
  </div>
</div>
