<%= form_with(model: game_analysis_marker, local: true) do |form| %>
  <% if game_analysis_marker.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(game_analysis_marker.errors.count, "error") %> prohibited this game_analysis_marker from being saved:</h2>

      <ul>
      <% game_analysis_marker.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :game_analysis %>
    <%= form.text_field :game_analysis %>
  </div>

  <div class="field">
    <%= form.label :frame_from %>
    <%= form.number_field :frame_from %>
  </div>

  <div class="field">
    <%= form.label :frame_to %>
    <%= form.number_field :frame_to %>
  </div>

  <div class="field">
    <%= form.label :comment %>
    <%= form.text_field :comment %>
  </div>

  <div class="field">
    <%= form.label :marker_type %>
    <%= form.text_field :marker_type %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
