<h1>Editing Game Analysis Marker</h1>

<%= render 'form', game_analysis_marker: @game_analysis_marker %>

<%= link_to 'Show', @game_analysis_marker %> |
<%= link_to 'Back', game_analysis_markers_path %>
