<p id="notice"><%= notice %></p>

<h1>Game Analysis Markers</h1>

<table>
  <thead>
    <tr>
      <th>Game analysis</th>
      <th>Frame from</th>
      <th>Frame to</th>
      <th>Comment</th>
      <th>Marker type</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @game_analysis_markers.each do |game_analysis_marker| %>
      <tr>
        <td><%= game_analysis_marker.game_analysis %></td>
        <td><%= game_analysis_marker.frame_from %></td>
        <td><%= game_analysis_marker.frame_to %></td>
        <td><%= game_analysis_marker.comment %></td>
        <td><%= game_analysis_marker.marker_type %></td>
        <td><%= link_to 'Show', game_analysis_marker %></td>
        <td><%= link_to 'Edit', edit_game_analysis_marker_path(game_analysis_marker) %></td>
        <td><%= link_to 'Destroy', game_analysis_marker, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Game Analysis Marker', new_game_analysis_marker_path %>
