<p id="notice"><%= notice %></p>

<p>
  <strong>Game analysis:</strong>
  <%= @game_analysis_marker.game_analysis %>
</p>

<p>
  <strong>Frame from:</strong>
  <%= @game_analysis_marker.frame_from %>
</p>

<p>
  <strong>Frame to:</strong>
  <%= @game_analysis_marker.frame_to %>
</p>

<p>
  <strong>Comment:</strong>
  <%= @game_analysis_marker.comment %>
</p>

<p>
  <strong>Marker type:</strong>
  <%= @game_analysis_marker.marker_type %>
</p>

<%= link_to 'Edit', edit_game_analysis_marker_path(@game_analysis_marker) %> |
<%= link_to 'Back', game_analysis_markers_path %>
