<%= form_with(model: post, local: true) do |form| %>
  <% if post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(post.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
      <% post.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= form.label :title %>
    <%= form.text_field :title, class: "form-control", placeholder: "Title" %>
  </div>

  <div class="form-group">
    <%= form.label :tag %>
    <%= form.text_field :tag, class: "form-control", placeholder: "Tag" %>
  </div>

  <div class="form-group">
    <%= form.label :text %>
    <%= form.text_area :text, class: "form-control", placeholder: "Text" %>
  </div>

  <div class="form-group media_prev">
    <%= form.label :image %>
    <%= form.hidden_field :image_url, class: "form-control img_db_src", readonly: true %>
    <%= form.file_field :image, onchange: "readURL(this)", id: 'file_image_input' %>
    <%#= image_tag(product.images[0].url) if product.images? %>
    <img style="display: none;" class="img_prev" id="img_prev" src="#" alt="">
  </div>

  <!-- Post Contents -->
  <div class="post_contents">
    <h3>Post Contents</h3>

    <%= form.fields_for :post_contents do |post_content| %>
      <%= render 'post_content_fields', f: post_content %>
    <% end %>

    <div class="links">
      <%= link_to_add_association 'Add Post Content', form, :post_contents, class: "btn btn-success btn-round" %>
    </div>
  </div>
  <!-- End Post Contents -->

  <div class="actions">
    <%= form.submit class: "btn btn-primary btn-round float-right" %>
  </div>
<% end %>



<script>
// Upload
  var media_prev = $('.media_prev');

  media_prev.each(function(index) {
    console.log( index + ": " + $(this).children('.img_db_src').val() );
    $(this).children('.img_prev').attr( 'style', 'display: block; max-height: 200px;' );
    $(this).children('.img_prev').attr( 'src', $(this).children('.img_db_src').val() );
  });

  function readURL(input) {
    if (input.files && input.files[0]) {
      var reader = new FileReader();
      reader.onload = function (e) {
        $(input).parent('.media_prev').children('.img_prev').attr('src', e.target.result)
        $(input).parent('.media_prev').children('.img_prev').attr('style', 'display: block; max-height: 200px')
        // alert(JSON.stringify($(input).parent('.media_prev')));
      };
      reader.readAsDataURL(input.files[0]);
    }
  }
  </script>


<!-- <section class="section"> -->
  <!-- <div class="container">
    <div class="row">

      <div class="col-md-6">
        <div class="card card-plain">
          <div class="card-header">
            <h1 class="profile-title text-left">Contact</h1>
          </div>
          <div class="card-body">
            <form>
              <div class="row">
                <div class="col-md-6">
                  <div class="form-group">
                    <label>Your Name</label>
                    <input type="text" class="form-control" value="Mike">
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                    <label>Email address</label>
                    <input type="email" class="form-control" placeholder="mike@email.com">
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-6">
                  <div class="form-group">
                    <label>Phone</label>
                    <input type="text" class="form-control" value="001-12321345">
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                    <label>Company</label>
                    <input type="text" class="form-control" value="CreativeTim">
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-12">
                  <div class="form-group">
                    <label>Message</label>
                    <input type="text" class="form-control" placeholder="Hello there!">
                  </div>
                </div>
              </div>
              <button type="submit" class="btn btn-primary btn-round float-right" rel="tooltip" data-original-title="Can't wait for your message" data-placement="right">Send text</button>
            </form>
          </div>
        </div>
      </div>

      <div class="col-md-4 ml-auto">
        <div class="info info-horizontal">
          <div class="icon icon-primary">
            <i class="tim-icons icon-square-pin"></i>
          </div>
          <div class="description">
            <h4 class="info-title">Find us at the office</h4>
            <p> Bld Mihail Kogalniceanu, nr. 8,
              <br> 7652 Bucharest,
              <br> Romania
            </p>
          </div>
        </div>
        <div class="info info-horizontal">
          <div class="icon icon-primary">
            <i class="tim-icons icon-mobile"></i>
          </div>
          <div class="description">
            <h4 class="info-title">Give us a ring</h4>
            <p> Michael Jordan
              <br> +40 762 321 762
              <br> Mon - Fri, 8:00-22:00
            </p>
          </div>
        </div>
      </div>
    </div>
  </div> -->
<!-- </section> -->
