<div class="nested-fields">
  <div class="form-group">
    <%= f.label :text_content %>
    <%= f.text_area :text_content, class: "form-control", placeholder: "Text Content" %>
  </div>
  <div class="form-group">
    <%= f.label :subtitle_content %>
    <%= f.text_field :subtitle_content, class: "form-control", placeholder: "Text Content" %>
  </div>
  <div class="form-group media_prev">
    <%= f.label :image_content %>
    <%= f.hidden_field :image_content_url, class: "form-control img_db_src", readonly: true %>
    <%= f.file_field :image_content, onchange: "readURL(this)", class: 'file_post_content_input' %>
    <%#= image_tag(product.images[0].url) if product.images? %>
    <img style="display: none;" class="img_prev" id="img_prev" src="#" alt="">
  </div>
  <%= link_to_remove_association "Remove Post Content", f, class: "btn btn-danger btn-round" %>
</div>

<script type="text/javascript">
  $(".file_post_content_input").filestyle({
    btnClass: "btn btn-default btn-round",
    input: false,
    text: "Add Content Image"
  });
</script>
