<div class="min-height-100 mt-20-p">
  <div class="container">
    <div class="content-center brand">
      <h1 class="h1-seo"><%= t('.editing_post') %></h1>
      <!-- <h3><%#= t('.subtitle_text') %></h3> -->

      <div class="card card-plain">
        <div class="card-header">
          <!-- <h1 class="profile-title text-left">Contact</h1> -->
          <!-- <h5 class="text-on-back">03</h5> -->
        </div>
        <div class="card-body">
          <%= render 'form', post: @post %>
          <%= link_to 'Show', @post, class: "btn btn-info btn-round float-right" %>
          <%= link_to 'Back', posts_path, class: "btn btn-info btn-round float-right" %>
        </div>
      </div>

    </div>
  </div>
</div>
