<div class="min-height-100 pt-10-vh">
  <%#= image_tag('dots.png', class:"dots") %>
  <%#= image_tag('path4.png', class:"path") %>

  <%#= image_tag('blob.png', class:"path") %>
  <%#= image_tag('path2.png', class:"path2") %>
  <%#= image_tag('triunghiuri.png', class:"shapes triangle") %>
  <%#= image_tag('patrat.png', class:"shapes squares-center") %>
  <%#= image_tag('cercuri.png', class:"shapes circle") %>

  <div class="container">
    <div class="content-center brand">
      <h1 class="h1-seo"><%= t('.blog') %></h1>
      <!-- <h3><%#= t('.subtitle_text') %></h3> -->

      <div class="card card-plain">
        <div class="card-header">
          <!-- <h1 class="profile-title text-left">Contact</h1> -->
          <!-- <h5 class="text-on-back">03</h5> -->
        </div>
        <div class="card-body">
          <div class="row">
            <% @posts.each_with_index do |post, index| %>
              <% if index == 0 %>
                <div class="col-lg-12 col-md-12 mt-5">
              <% elsif index > 0 and index < 4%>
                <div class="col-lg-6 col-md-6 mt-5">
              <% else %>
                <div class="col-lg-4 col-md-4 mt-5">
              <% end %>
                    <% if (post.image?) %>
                      <%= image_tag(post.image.url(:large)) %>
                    <% else %>
                    <h5 class="text-on-back">
                      <%= "No photo" %>
                    </h5>
                    <% end %>
                  <h1 class="profile-title text-center"><%= post.title %></h1>
                  <h1 class="profile-title text-center"><%= post.tag %></h1>
                  <p class="profile-description"><%= post.text %></p>
                  <div class="btn-wrapper profile pt-3">
                    <%= link_to post, {class: "btn btn-icon btn-primary btn-round", data: { toggle: "tooltip", original_title: "Show" }} do %><i class="tim-icons icon-paper"></i><% end %>
                    <%= link_to edit_post_path(post), {class: "btn btn-icon btn-info btn-round", data: { toggle: 'tooltip', original_title: "Edit" }} do %><i class="tim-icons icon-pencil"></i><% end %>
                    <%= link_to post, {class: "btn btn-icon btn-danger btn-round", method: :delete, data: {toggle: 'tooltip', original_title: "Delete", confirm: "Are you sure?"}} do %><i class="tim-icons icon-trash-simple"></i><% end %>
                  </div>
                </div>
            <% end %>
          </div>

          <%= link_to 'New Post', new_post_path, class: "btn btn-success mt-5" %>
        </div>
      </div>

    </div>
  </div>
</div>
