<div class="min-height-100 pt-10-vh">
  <div class="container">
    <div class="content-center brand">
      <div class="card card-plain">
        <div class="card-header">
          <!-- <h1 class="profile-title text-left">Contact</h1> -->
          <!-- <h5 class="text-on-back">03</h5> -->
        </div>
        <div class="card-body">
          <div class="row">
            <div class="col-lg-12 col-md-12 mt-5">
              <% if (@post.image?) %>
                <%= image_tag(@post.image.url(:large)) %>
              <% else %>
              <h5 class="text-on-back">
                <%= "No photo" %>
              </h5>
              <% end %>
              <h1 class="profile-title text-center"><%= @post.title %></h1>
              <h1 class="profile-title text-center"><%= @post.tag %></h1>
              <p class="profile-description"><%= @post.text %></p>
            </div>
          </div>

          <% @post.post_contents.each_with_index do |post_content, index| %>
            <div class="row">
              <div class="col-lg-12 col-md-12 mt-5">
                <% if (post_content.image_content?) %>
                  <%= image_tag(post_content.image_content.url(:large)) %>
                <% else %>
                <h5 class="text-on-back">
                  <%= "No photo" %>
                </h5>
                <% end %>
                <h1 class="profile-title text-center"><%= post_content.subtitle_content %></h1>
                <p class="profile-description"><%= post_content.text_content %></p>
              </div>
            </div>
          <% end %>

          <%= link_to posts_path, {class: "btn btn-icon btn-primary btn-round", data: {toggle: 'tooltip', original_title: "Back"}} do %><i class="tim-icons icon-minimal-left"></i><% end %>
          <%= link_to edit_post_path(@post), {class: "btn btn-icon btn-info btn-round", data: { toggle: 'tooltip', original_title: "Edit" }} do %><i class="tim-icons icon-pencil"></i><% end %>
          <%= link_to @post, {class: "btn btn-icon btn-danger btn-round", method: :delete, data: {toggle: 'tooltip', original_title: "Delete", confirm: "Are you sure?"}} do %><i class="tim-icons icon-trash-simple"></i><% end %>
        </div>
      </div>

    </div>
  </div>
</div>
