<%= form_with(model: post_content, local: true) do |form| %>
  <% if post_content.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(post_content.errors.count, "error") %> prohibited this post_content from being saved:</h2>

      <ul>
      <% post_content.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :text_content %>
    <%= form.text_field :text_content %>
  </div>

  <div class="field">
    <%= form.label :subtitle_content %>
    <%= form.text_field :subtitle_content %>
  </div>

  <div class="field">
    <%= form.label :image_content %>
    <%= form.text_field :image_content %>
  </div>

  <div class="field">
    <%= form.label :post_id %>
    <%= form.text_field :post_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
