<p id="notice"><%= notice %></p>

<h1>Post Contents</h1>

<table>
  <thead>
    <tr>
      <th>Text content</th>
      <th>Subtitle content</th>
      <th>Image content</th>
      <th>Post</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @post_contents.each do |post_content| %>
      <tr>
        <td><%= post_content.text_content %></td>
        <td><%= post_content.subtitle_content %></td>
        <td><%= post_content.image_content %></td>
        <td><%= post_content.post %></td>
        <td><%= link_to 'Show', post_content %></td>
        <td><%= link_to 'Edit', edit_post_content_path(post_content) %></td>
        <td><%= link_to 'Destroy', post_content, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Post Content', new_post_content_path %>
