<p id="notice"><%= notice %></p>

<p>
  <strong>Text content:</strong>
  <%= @post_content.text_content %>
</p>

<p>
  <strong>Subtitle content:</strong>
  <%= @post_content.subtitle_content %>
</p>

<p>
  <strong>Image content:</strong>
  <%= @post_content.image_content %>
</p>

<p>
  <strong>Post:</strong>
  <%= @post_content.post %>
</p>

<%= link_to 'Edit', edit_post_content_path(@post_content) %> |
<%= link_to 'Back', post_contents_path %>
