<%= form_for([:users, user], url: (user.new_record? ? users_create_custom_path : users_update_custom_path(user)) ) do |f| %>
  <% if user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <!-- <div class="form-group"> -->
    <%#= f.label "Utworzony przez" %>
    <%#= f.select :created_by_user_id, User.all.map{ |c| [c.email, c.id]}, {selected: created_by_user_id}, {class: 'form-control'} %>
    <%#= f.text_field :app_module_id %>
  <!-- </div> -->

  <div class="form-group">
    <%= f.label :organization_id %>
    <%= f.select :organization_id, Organization.all.map{ |c| [c.name, c.id]}, {selected: f.object.organization_id}, {class: 'form-control'} %>
  </div>

  <div class="form-group">
    <%= f.label :user_role_id %>
    <%= f.select :user_role_id, UserRole.all.map{ |c| [c.name, c.id]}, {selected: f.object.user_role_id}, {class: 'form-control'} %>
  </div>

  <div class="form-group">
    <%= f.label :email %>
    <%= f.email_field :email, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= f.label :password %>
    <%= f.password_field :password, class: 'form-control' %>
  </div>

  <!-- <div class="form-group"> -->
    <%#= f.label "Imię" %>
    <%#= f.text_field :first_name, class: 'form-control' %>
  <!-- </div> -->

  <!-- <div class="form-group"> -->
    <%#= f.label "Nazwisko" %>
    <%#= f.text_field :last_name, class: 'form-control' %>
  <!-- </div> -->

  <div class="actions">
    <%= f.submit class: "btn btn-primary" %>
  </div>
<% end %>
