<div class="min-height-100 pt-20-vh">
  <div class="container-fluid">
    <div class="content-center brand">
      <h1 class="h1-seo"><%= t('.users') %></h1>
      <!-- <div class="card card-plain">
        <div class="card-header">
        </div>
        <div class="card-body"> -->
    </div>
            <div class="table-responsive-sm">
              <table class="table table-hover table-active">
                <thead >
                  <tr>
                    <th>#</th>
                    <th>ID</th>
                    <th>Nickname</th>
                    <th>Email</th>
                    <!-- <th scope="col">User Role</th> -->
                    <!-- <th scope="col">Set Roles</th> -->
                    <!-- <th scope="col">Last Login</th>
                    <th scope="col">Sign In Count</th> -->
                    <th>Registration Date</th>
                    <th class="text-right" colspan="3">Options</th>
                  </tr>
                </thead>
                <tbody>
                  <% @users.each_with_index do |user, index| %>
                    <tr>
                      <td><%= index+1 %></td>
                      <td><%= user.id %></td>
                      <td><%= user.nickname %></td>
                      <td><%= user.email %></td>
                      <!-- <td><%#= user.user_role %></td> -->

                      <%# if user.user_role.level == 0 %>
                        <%# @status_a = "active" %>
                      <%# else %>
                        <%# @status_a = "" %>
                      <%# end %>

                      <%# if user.user_role.level == 1 %>
                        <%# @status_t = "active" %>
                      <%# else %>
                        <%# @status_t = "" %>
                      <%# end %>

                      <%# if user.user_role.level == 2 %>
                        <%# @status_u = "active" %>
                      <%# else %>
                        <%# @status_u = "" %>
                      <%# end %>

                      <!-- <td> -->
                        <%# if user != current_user %>
                          <!-- <div class="pull-left"> -->
                            <%#= button_to "App Admin", users_put_role_custom_path(id: user.id, user_role_id: UserRole.where(level: 0).first.id), method: :post, class: "btn btn-primary btn-sm "+@status_a %>
                          <!-- </div> -->
                          <!-- <div class="pull-left"> -->
                            <%#= button_to "Organization Leader", users_put_role_custom_path(id: user.id, user_role_id: UserRole.where(level: 1).first.id), method: :post, class: "btn btn-primary btn-sm "+@status_t %>
                          <!-- </div> -->
                          <!-- <div class="pull-left"> -->
                            <%#= button_to "Organization User", users_put_role_custom_path(id: user.id, user_role_id: UserRole.where(level: 2).first.id), method: :post, class: "btn btn-primary btn-sm "+@status_u %>
                          <!-- </div> -->
                        <%# else %>
                        <%# end %>
                      <!-- </td> -->
                      <!-- <td><%#= user.last_sign_in_at %></td> -->
                      <!-- <td><%#= user.sign_in_count %></td> -->
                      <td><%= user.created_at %></td>
                      <td class="td-actions text-right">
                        <%= link_to users_custom_path(user), { class: "btn btn-icon btn-primary btn-round", data: { toggle: "tooltip", original_title: "Show" }} do %><i class="tim-icons icon-paper"></i><% end %>
                      </td>
                      <td class="td-actions text-right">
                        <%= link_to edit_users_custom_path(user), { class: "btn btn-icon btn-info btn-round", data: { toggle: 'tooltip', original_title: "Edit" }} do %><i class="tim-icons icon-pencil"></i><% end %>
                      </td>
                      <td class="td-actions text-right">
                        <%= link_to users_custom_path(user), { class: "btn btn-icon btn-danger btn-round", method: :delete, data: { toggle: 'tooltip', original_title: "Delete", confirm: "Are you sure?" }} do %><i class="tim-icons icon-trash-simple"></i><% end %>
                      </td>

                    </tr>
                  <% end %>
                </tbody>
              </table>
            </div>
          <%#= link_to 'New User', new_users_custom_path, user: @user, action: 'create', class: "btn btn-success", role: "button" %>
        <!-- </div>
      </div> -->

  </div>
</div>
