<div class="container">
  <p>
    <strong>Email:</strong>
    <%= @user.email %>
  </p>

  <p>
    <strong>User Role:</strong>
    <%= @user.user_role %>
  </p>

  <p>
    <strong>Organization:</strong>
    <%= @user.organization %>
  </p>

  <%#= link_to 'Edytuj', edit_training_process_path(@user) %>
  <%= link_to 'Back', users_custom_index_path %>
</div>
