.navbar-brand {
  width: 200px;
  // height: 30px;
}

.landing-page .content-center img {
  height: auto;
//   max-width: 700px;
}

.footer {
  padding: 40px 0;
}

img.img-max-75 {
  max-width: 75%;
}

.background_01 {
  background-image: image-url("background_01.jpg");
  background-position: 80% 0;
  background-size: cover;
}

.table-hover tbody tr:hover {
  background-color: rgba(34, 42, 66, 0.675);
}

.pt-30-vh{
  padding-top: 30vh;
}
.pt-25-vh{
  padding-top: 25vh;
}
.pt-20-vh{
  padding-top: 20vh;
}
.pt-15-vh{
  padding-top: 15vh;
}
.pt-10-vh{
  padding-top: 10vh;
}

.pos-top-50-vh{
  position: fixed;
  top: 50vh;
  left:2%;
  width: 96%;
  z-index: 999;
}
.pos-top-10-vh{
  position: fixed;
  top: 10vh;
  left:2%;
  width: 96%;
  z-index: 999;
}

.content-center.brand .h1-seo {
  color: #ffffff;
  font-weight: 600;
  text-transform: capitalize;
}

.content-center {
  // position: absolute;
  // top: 50%;
  // left: 50%;
  // z-index: 2;
  // -webkit-transform: translate(-50%, -50%);
  // transform: translate(-50%, -50%);
  text-align: center;
  color: #ffffff;
  padding: 0 15px;
  width: 100%;
  // max-width: 880px;
}

.page-header .content-center {
  position: relative;
  // top: 50%;
  // left: 50%;
  z-index: 2;
  -ms-transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
  color: #ffffff;
  padding: 0 15px;
  width: 100%;
  max-width: 1100px;
}

.hidden {
  display: none;
}
td.td-actions {
  width: 38px;
  // width: ;
}
