<footer class="footer">
  <div class="container">
    <div class="row">
      <div class="col-md-4 offset-md-1 text-center">
        <h1 class="title"></h1>
        <%= image_tag('logo-white.png', class: "img-max-75") %>
      </div>

      <div class="col-md-3 offset-md-1">
        <ul class="nav">
          <li class="nav-item">
            <%= link_to page_path("about"), {class: "nav-link"} do %><span class="nav-link-inner--text"><%= t('.home') %></span><% end %>
          </li>
          <li class="nav-item">
            <%= link_to page_path("contact"), {class: "nav-link"} do %><span class="nav-link-inner--text"><%= t('.contact') %></span><% end %>
          </li>
          <li class="nav-item">
            <%= link_to posts_path, {class: "nav-link"} do %><span class="nav-link-inner--text"><%= t('.blog') %></span><% end %>
          </li>
        </ul>
      </div>

      <div class="col-md-3">
        <h3 class="title"><%= t('.Follow_us')+":" %></h3>
        <div class="btn-wrapper profile">
          <%= link_to "https://twitter.com/esportfield", {class: "btn btn-icon btn-neutral btn-round btn-simple", data: {toggle: "tooltip", original_title: "Follow us on Twitter", placement: "bottom"}, target: "_blank"} do %><i class="fab fa-twitter"></i><% end %>

          <%= link_to "https://facebook.com/esportfield", {class: "btn btn-icon btn-neutral btn-round btn-simple", data: {toggle: "tooltip", original_title: "Follow us on Facebook", placement: "bottom"}, target: "_blank"} do %><i class="fab fa-facebook-square"></i><% end %>

          <%= link_to "https://www.instagram.com/esportfieldpl/", {class: "btn btn-icon btn-neutral btn-round btn-simple", data: {toggle: "tooltip", original_title: "Follow us on Instagram", placement: "bottom"}, target: "_blank"} do %><i class="fab fa-instagram"></i><% end %>
        </div>
      </div>
    </div>
  </div>
</footer>
