<% if notice %>
  <div class="alert alert-success alert-with-icon pos-top-10-vh alert-dismissible fade show">
    <!-- <button type="button" aria-hidden="true" class="close" data-dismiss="alert" aria-label="Close">
        <i class="tim-icons icon-simple-remove"></i>
    </button> -->
    <span data-notify="icon" class="tim-icons icon-trophy"></span>
    <span><%= notice %></span>
  </div>
<% end %>

<% if alert %>
  <div class="alert alert-danger alert-with-icon pos-top-10-vh alert-dismissible fade show">
    <!-- <button type="button" aria-hidden="true" class="close" data-dismiss="alert" aria-label="Close">
        <i class="tim-icons icon-simple-remove"></i>
    </button> -->
    <span data-notify="icon" class="tim-icons icon-trophy"></span>
    <span><%= alert %></span>
  </div>
<% end %>

<!-- FUNCTION NOT AVAILABLE -->
<div class="modal fade" id="modal-notification" tabindex="-1" role="dialog" aria-labelledby="modal-notification" aria-hidden="true">
  <div class="modal-dialog modal-default modal-dialog-centered modal-" role="document">
    <div class="modal-content bg-gradient-default">

      <div class="modal-header">
        <h6 class="modal-title" id="modal-title-notification"><%= t('attention') %></h6>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">×</span>
        </button>
      </div>

      <div class="modal-body">
        <div class="py-3 text-center">
          <i class="ni ni-bell-55 ni-3x"></i>
          <h4 class="heading mt-4"><%= t('notAvailable') %></h4>
          <p><%= t('availableSoon') %></p>
        </div>
      </div>

      <div class="modal-footer">
        <!-- <button type="button" class="btn btn-white">Ok, Got it</button> -->
        <button type="button" class="btn btn-link text-white ml-auto" data-dismiss="modal"><%= t('close') %></button>
      </div>

    </div>
  </div>
</div>
