<!-- Navbar -->
<nav class="navbar navbar-expand-lg fixed-top navbar-transparent " color-on-scroll="100">
  <div class="container-fluid">
    <div class="navbar-translate">
      <%= link_to root_path, class: "navbar-brand" do %>
        <%= image_tag('logo-white.png') %>
      <% end %>
      <button class="navbar-toggler navbar-toggler" type="button" data-toggle="collapse" data-target="#navigation" aria-controls="navigation-index" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-bar bar1"></span>
        <span class="navbar-toggler-bar bar2"></span>
        <span class="navbar-toggler-bar bar3"></span>
      </button>
    </div>
    <div class="collapse navbar-collapse justify-content-end" id="navigation">
      <div class="navbar-collapse-header">
        <div class="row">
          <div class="col-6 collapse-brand">
            <%= link_to root_path, class: "" do %>
              <%= image_tag('logo-white.png', class: 'img-fluid') %>
            <% end %>
          </div>
          <div class="col-6 collapse-close text-right">
            <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navigation" aria-controls="navigation-index" aria-expanded="false" aria-label="Toggle navigation">
              <i class="tim-icons icon-simple-remove"></i>
            </button>
          </div>
        </div>
      </div>
      <ul class="navbar-nav">
        <li class="nav-item p-0">
          <%= link_to "https://twitter.com/esportfield", {class: "nav-link", rel: "tooltip", title: "Follow us on Twitter", data_placement: "bottom", target: "_blank"} do %><i class="fab fa-twitter"></i><% end %>
        </li>
        <li class="nav-item p-0">
          <%= link_to "https://www.facebook.com/esportfield", {class: "nav-link", rel: "tooltip", title: "Follow us on Facebook", data_placement: "bottom", target: "_blank"} do %><i class="fab fa-facebook-square"></i><% end %>
        </li>
        <li class="nav-item p-0">
          <%= link_to "https://www.instagram.com/esportfieldpl/", {class: "nav-link", rel: "tooltip", title: "Follow us on Instagram", data_placement: "bottom", target: "_blank"} do %><i class="fab fa-instagram"></i><% end %>
        </li>
        <li class="nav-item">
          <%= link_to about_path, {class: "nav-link"} do %><span class="nav-link-inner--text"><%= t('.home') %></span><% end %>
        </li>
        <li class="nav-item">
          <%= link_to contact_path, {class: "nav-link"} do %><span class="nav-link-inner--text"><%= t('.contact') %></span><% end %>
        </li>
        <li class="nav-item">
          <%= link_to blog_path, {target: "_blank", class: "nav-link"} do %><span class="nav-link-inner--text"><%= t('.blog') %></span><% end %>
        </li>

        <% if user_signed_in? %>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle nav-link-icon" href="#" id="navbarDropdownUser" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <i class="tim-icons icon-single-02"></i>
              <span class="nav-link-inner--text"><%= current_user.email %></span>
            </a>
            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownUser">
              <%= link_to users_path, {class: "dropdown-item"} do %><%= t('.users') %><% end %>
              <%#= link_to edit_user_registration_path, {class: "dropdown-item"} do %><%#= t('.user_profile') %><%# end %>
              <div class="dropdown-divider"></div>
              <%= link_to destroy_user_session_path, method: :delete, class: "dropdown-item" do %><%= t('.logout') %><% end %>
            </div>
          </li>
        <% else %>
          <li class="nav-item">
            <%= link_to new_user_session_path, {class: "nav-link"} do %><span class="nav-link-inner--text"><%= t('.log_in') %></span><% end %>
          </li>
          <!-- <li class="nav-item"> -->
            <%#= link_to new_user_registration_path, {class: "nav-link"} do %><%#= t('.registration') %><%# end %>
          <!-- </li> -->
        <% end %>

      </ul>
    </div>
  </div>
</nav>
<!-- End Navbar -->



<%= form_for(:user, url: session_path(:user)) do |f| %>
  <div class="modal fade" id="modal-form" tabindex="-1" role="dialog" aria-labelledby="modal-form" aria-hidden="true">
    <div class="modal-dialog modal- modal-dialog-centered modal-sm" role="document">
      <div class="modal-content">
        <div class="modal-body p-0">
          <div class="card bg-secondary shadow border-0">
            <div class="card-header bg-white">
              <div class="text-muted text-center">
                <small>Log in</small>
              </div>
            </div>
            <div class="card-body px-lg-5 py-lg-5">
              <form role="form">
                <!-- margins -->
                <div class="form-group mb-3">
                  <!-- style -->
                  <div class="input-group input-group-alternative">
                    <!-- icon -->
                    <div class="input-group-prepend">
                      <span class="input-group-text"><i class="ni ni-email-83"></i></span>
                    </div>
                    <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "Email", class: "form-control" %>
                  </div>
                </div>
                <div class="form-group">
                  <div class="input-group input-group-alternative">
                    <div class="input-group-prepend">
                      <span class="input-group-text"><i class="ni ni-lock-circle-open"></i></span>
                    </div>
                    <%= f.password_field :password, autocomplete: "off", placeholder: "Password", class: "form-control" %>
                  </div>
                </div>
                <div class="custom-control custom-control-alternative custom-checkbox">
                  <%= f.check_box :remember_me, class: "custom-control-input", id: "customCheckLogin" %>
                  <label class="custom-control-label" for=" customCheckLogin">
                    <span>Remember me</span>
                  </label>
                </div>
                  "Registration"
                <div class="text-center">
                  <%= f.submit "Log in", class: "btn btn-primary my-4" %>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
<% end %>
